<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>yagos2sdemo</display-name>
  <servlet>
    <description></description>
    <display-name>Browser</display-name>
    <servlet-name>Browser</servlet-name>
    <servlet-class>servlets.SvgBrowser</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>Run</display-name>
    <servlet-name>Run</servlet-name>
    <servlet-class>servlets.RunExtractor</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>PreviewTheme</display-name>
    <servlet-name>PreviewTheme</servlet-name>
    <servlet-class>servlets.PreviewTheme</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>EditTheme</display-name>
    <servlet-name>EditTheme</servlet-name>
    <servlet-class>servlets.EditTheme</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>ResetTheme</display-name>
    <servlet-name>ResetTheme</servlet-name>
    <servlet-class>servlets.ResetTheme</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>Provenance</display-name>
    <servlet-name>Provenance</servlet-name>
    <servlet-class>servlets.FactProvenance</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Browser</servlet-name>
    <url-pattern>/Browser</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Run</servlet-name>
    <url-pattern>/Run</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PreviewTheme</servlet-name>
    <url-pattern>/Preview</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EditTheme</servlet-name>
    <url-pattern>/Edit</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ResetTheme</servlet-name>
    <url-pattern>/Reset</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Provenance</servlet-name>
    <url-pattern>/Provenance</url-pattern>
  </servlet-mapping>
</web-app>